body {
    font-family: 'Fira Sans' sans-serif;
    margin: 0;
    background-color: rgb(44, 41, 38);
}

a {
    text-decoration: none;
}

#Main-header {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(29, 26, 24);
    padding: 0 5%;
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(248, 168, 80);
    text-transform: uppercase;
}

.menu-btn {
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: none;
}

.menu-btn span {
    width: 100%;
    height: 0.2rem;
    background-color: white;

}

#Main-header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#Main-header li {
    margin: 0 1rem;
}

#Main-header nav a {
    color: rgb(185, 131, 30);
    font-size: 1.25rem;
}

#Main-header nav a:hover {
    color: rgb(228, 163, 40);
}

#side-drawer {
    width: 100%;
    height: 100%;
    background-color: rgb(29, 26, 27);
    position: fixed;
    top: 0;
    bottom: 0;
    display: none;
}

#side-drawer:target {
    display: block;
}

#side-drawer header {
    height: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5%;
}

#side-drawer ul {
    list-style: none;
    margin: 0;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#side-drawer li {
    margin: 1rem 0;
}

#side-drawer a {
    color: rgb(253, 239, 213);
    font-size: 3rem;
}

main h1 {
    text-align: center;
    color: rgb(228, 163, 40);
    font-size: 3rem;
}
#latest-products {
    width: 55%;
    margin: 2.5rem auto;
}

#latest-products ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
    margin: 0;
    padding: 0;
}

.food-item {
    background-color: rgb(228, 206, 182);
    border-radius: 6px;
    list-style: none;
}

.food-item img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.food-item-content {
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 10px;
}

.food-item h2 {
    margin: 0 0 1rem 0;
}

.btn {
    background-color: rgb(228, 157, 44);
    color: white;
    border-radius: 4px;
    padding: 0.5rem 1.5rem;
}

.btn:hover {
    background-color: rgb(221, 134, 44);
}

@media (max-width: 48rem) {
    #Main-header nav a {
        display: none;
    }

    .menu-btn {
        display: flex;
    }
   
    main h1 {
        font-size: 1.5rem;
    }
    
    #latest-products ul {
        grid-template-columns: 100%;
    }

}